<html>
	<body>
		<h1>Add Employee</h1>
		<form id="addEmployee" action="/add-employe" method="post">
			<label>id :</label><input type="text" name="id" /> <label>name :</label
			><input type="text" name="name" /> <label>age :</label
			><input type="number" name="age" />
			<input type="submit" value="Add Employee" name="submit" />
			<span id="status"></span>
		</form>
	</body>
	<script>
		// $(document).ready(function () {
		// 	$('#addEmployee').submit(function () {
		// 		$(this).ajaxSubmit({
		// 			error: function (xhr) {
		// 				status('Error: ' + xhr.status);
		// 			},

		// 			success: function (response) {
		// 				console.log(response);
		// 			},
		// 		});
		// 		//Code to disable the page refresh.
		// 		return false;
		// 	});
		// });
		$(document).ready(function () {
			$('addEmployee').on('submit', function (e) {
				e.preventDefault();
				let data = {};
				data.id = $('input[name=id]').val();
				data.name = $('input[name=name]').val();
				data.age = $('input[name=ae]').val();
				$.ajax({
					type: 'post',
					url: '/add-employe',
					data: data,
					dataType: 'text',
				})
					.done(function (data) {
						alert(data.message);
					})
					.fail(function (err) {
						alert(err);
					});
			});
		});
	</script>
</html>
